//colors
$color-primary: #0347b5;
$color-primary-light: #0b67fb;
$color-primary-lighter: hsla(217, 97%, 36%, 0.25);

$color-grey-light-1: #f1f3f5;
$color-grey-light-2: #dee2e6;

$color-grey-dark-1: #868e96;
$color-grey-dark-2: #495057;
$color-grey-dark-3: #343a40;

//font
$default-font-size: 1.6rem;
